@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    .icon-2xs {
        font-size: 0.625em;
    }
    .icon-xs {
        font-size: 0.75em;
    }
    .icon-sm {
        font-size: 0.875em;
    }
    .icon-md {
        font-size: 1em;
    }
    .icon-lg {
        font-size: 1.25em;
    }
    .icon-xl {
        font-size: 1.5em;
    }
    .icon-2xl {
        font-size: 2em;
    }
}

:root {
    color-scheme: dark;
    --star-flicker-start: 1s;
}

h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}
a {
    @apply text-blue-600 underline;
}
pre {
    @apply whitespace-normal;
}

#md-card-container {
    @apply md:grid lg:grid-cols-1 2xl:grid-cols-2 desktop:grid-cols-3 gap-8 mt-8;
}
